.main {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-bottom: 56px;
}

.ill-works__container .wrapper {
  padding-top: 55px;
}

.works__title {
  margin: 0;
  text-transform: uppercase;
  color: #0099ff;
  font: 30px / normal "Sintony";
}

.works__description {
  margin: 30px 0 0 0;
  font: 13px / normal "Georgia";
  font-style: italic;
  line-height: 1.85;
  max-width: 50vw;
  color: #858585;
}

.slider {
  max-width: 100%;
  margin: 35px 0 30px 0;
  display: grid;
  grid-gap: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.slider-img {
  width: 190px;
  height: 159px;
  border-radius: 5px;
  background-color: #abbcc3;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(15px * 5 + 10px * 3);
}

.slider-button {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #00aeef;
}

.graph-works__container .wrapper {
  margin-top: 50px;
}

.corp-works__container .wrapper {
  margin-top: 45px;
}

.content-block:first-child {
  margin-right: 15px;
}

.experience__container .inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.experience__container .works__description {
  margin-top: 23px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .slider {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}

@media all and (max-width: 768px) {
  .slider {
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 425px) and (max-width: 660px) {
  .slider {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 425px) {
  .slider {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .slider-img {
    display: none;
  }

  .slider-img:first-child {
    display: block;
    width: 100%;
    height: calc(190px * 1.2);
  }

  .experience__container .inner-wrapper {
    flex-direction: column;
  }

  .inner-wrapper .content-block {
    margin-top: 30px;
  }
}
